<!DOCTYPE html>
<html lang="ja" layout:decorate="~{layouts/app}">

<head>
    <title>ログイン</title>
</head>

<body>
    <v-container layout:fragment="content">
        <form th:action="@{/login}" method="post">
            <div><label>ユーザ名<input autocomplete type="text" name="username"></label></div>
            <div><label>パスワード<input autocomplete="current-password" type="password" name="password"></label></div>
            <input type="submit" value="ログイン">
        </form>
    </v-container>
    <div layout:fragment="scripts">
        <script th:src="@{/js/login.js}"></script>
    </div>
</body>

</html>